<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


  <aop:config>
    <aop:aspect id="txtAspect" ref="txtAspectBean">
      <aop:pointcut id="businessService"
                    expression="execution(* com.bp.spring.aop.s02.aopxml.TxtServiceImpl.*(..))"/>
      <aop:before pointcut-ref="businessService" method="doBefore"/>
      <aop:after pointcut-ref="businessService" method="doAfter"/>
      <aop:around pointcut-ref="businessService" method="doAround"/>
      <aop:after-throwing pointcut-ref="businessService" method="doThrowing" throwing="ex"/>
    </aop:aspect>
  </aop:config>

  <bean id="txtAspectBean" class="com.bp.spring.aop.s02.aopxml.TxtAdvice"/>
  <bean id="txtService" class="com.bp.spring.aop.s02.aopxml.TxtServiceImpl"/>
</beans>