<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="toolA" class="com.bp.spring.ioc.s02.property.ConcreteToolA">
        <property name="name">
            <value>ToolA</value>
        </property>
    </bean>

    <bean id="toolB" class="com.bp.spring.ioc.s02.property.ConcreteToolB">
        <property name="name">
            <value>ToolB</value>
        </property>
    </bean>

    <bean id="chinese" class="com.bp.spring.ioc.s02.property.Chinese">
        <property name="tool" ref="toolA"></property>
    </bean>

</beans>